* {
    margin: 0px;
    color:white;
    font-family: Arial;
    text-decoration: none;
}

p, h3, h2 {
    width: 100%;
    text-align: center;
}

html {
    min-height: 100%;
}

body {
    background: linear-gradient(135deg, #00072c 0%, rgb(46, 21, 0) 100%);
}

.dec {
    text-decoration: underline;
}

.centralize-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-title {
    height: 100px;
    width: 100vw;
    min-width: 700px;
    font-weight: bold;
    font-size: 40px;
}

.main-container {
    background-color: rgb(25,25,25);
    width: 70vw;
    min-width: 700px;
    min-height: calc(100vh - 120px);
    position: absolute;
    left: 15vw;
    display: block;
    border-radius: 20px;
    border: solid;
    border-color: rgb(212, 73, 3);
    border-width: 1px;
}

.default-container {
    width: 100%;
    padding: 20px 0px 20px 0px;
    height: fit-content;
}

button {
    background: linear-gradient(135deg, #723300 0%, red 50%, purple 100%);
    width: 130px;
    height: 45px;
    cursor: pointer;
    transition: all 0.1s;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}

.inner-button {
    font-size: 20px;
    width: 120px;
    height: 35px;
    background-color: rgb(25,25,25);
    border-radius: 2px;
}

button:hover {
    transform: scale(1.1);
}

.login-wrapper {
    height: fit-content;
    width: 300px;
    border-radius: 20px;
    border: solid;
    border-color: red;
    border-width: 1px;
    padding: 20px 20px 0px;
}

.login-wrapper input{
    height: 30px;
    width: 280px;
    color: black;
    font-size: 15px;
}

.login-wrapper *{
    margin-top: 10px;
    margin-bottom: 10px;
}