* {
    margin: 0px;
    color:white;
    font-family: Arial;
    text-decoration: none;
}

p, h3, h2 {
    width: 100%;
    text-align: center;
}

body {
    background-color: #111111;
}

.dec {
    text-decoration: underline;
}

.centralize-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-bar {
    background: linear-gradient(135deg, #7fffd4 0%, #0c69f5 100%);
    height: 50px;
    width: 100vw;
    font-weight: bold;
    font-size: 25px;
}

.main-container {
    background-color: rgb(25,25,25);
    width: 70vw;
    min-width: 700px;
    min-height: calc(100vh - 50px);
    position: absolute;
    left: 15vw;
    display: block;
}

.default-container {
    width: 100%;
    padding: 20px 0px 20px 0px;
    height: fit-content;
}

button {
    background: linear-gradient(135deg, #723300 0%, red 50%, purple 100%);
    width: 130px;
    height: 45px;
    cursor: pointer;
    transition: all 0.1s;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}

.inner-button {
    font-size: 20px;
    width: 120px;
    height: 35px;
    background-color: rgb(25,25,25);
    border-radius: 2px;
}

button:hover {
    transform: scale(1.1);
}

.login-wrapper {
    height: fit-content;
    width: 300px;
}

.login-wrapper input{
    height: 30px;
    width: 280px;
    color: black;
    font-size: 15px;
}

.login-wrapper *{
    margin-top: 10px;
    margin-bottom: 10px;
}